[versions]
# plugins
animalsniffer = "1.7.1"
kotlin = "2.0.0"
pluginPublish = "1.2.1"
publishing = "0.28.0"
spotless = "6.25.0"

# signature
java8Signature = "1.0"

# test
junit = "5.10.2"
truth = "1.4.2"

[plugins]
animalsniffer = { id = "ru.vyarus.animalsniffer", version.ref = "animalsniffer" }
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
pluginPublish = { id = "com.gradle.plugin-publish", version.ref = "pluginPublish" }
publishing = { id = "com.vanniktech.maven.publish.base", version.ref = "publishing" }
spotless = { id = "com.diffplug.spotless", version.ref = "spotless" }

[libraries]
# signature
java8Signature = { module = "org.codehaus.mojo.signature:java18", version.ref = "java8Signature" }

# test
junit = { module = "org.junit.jupiter:junit-jupiter", version.ref = "junit" }
truth = { module = "com.google.truth:truth", version.ref = "truth" }
