name: ci

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch: {}
permissions:
  contents: read
jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
          check-latest: true
      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build --info
      - name: Publish unit test results (Ubuntu)
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always() && matrix.os == 'ubuntu-latest'
        with:
          files: "**/test-results/**/*.xml"
          comment_mode: off
          check_name: "Test Results (Ubuntu)"
      - name: Publish unit test results (Windows)
        uses: EnricoMi/publish-unit-test-result-action/composite@v2
        if: always() && matrix.os == 'windows-latest'
        with:
          files: "**/test-results/**/*.xml"
          comment_mode: off
          check_name: "Test Results (Windows)"
      - name: Publish unit test results (MacOS)
        uses: EnricoMi/publish-unit-test-result-action/composite@v2
        if: always() && matrix.os == 'macos-latest'
        with:
          files: "**/test-results/**/*.xml"
          comment_mode: off
          check_name: "Test Results (MacOS)"
