name: ci
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch: {} # support manual runs
permissions:
  contents: read
jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    permissions:
      checks: write
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 21
          check-latest: true
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Build
        run: ./gradlew build --info
      - name: Publish unit test results (Ubuntu)
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f # v2.22.0
        if: always() && matrix.os == 'ubuntu-latest'
        with:
          files: "**/test-results/**/*.xml"
          comment_mode: off
          check_name: "Test Results (Ubuntu)"
      - name: Publish unit test results (Windows)
        uses: EnricoMi/publish-unit-test-result-action/windows@27d65e188ec43221b20d26de30f4892fad91df2f # v2.22.0
        if: always() && matrix.os == 'windows-latest'
        with:
          files: "**/test-results/**/*.xml"
          comment_mode: off
          check_name: "Test Results (Windows)"
      - name: Publish unit test results (MacOS)
        uses: EnricoMi/publish-unit-test-result-action/macos@27d65e188ec43221b20d26de30f4892fad91df2f # v2.22.0
        if: always() && matrix.os == 'macos-latest'
        with:
          files: "**/test-results/**/*.xml"
          comment_mode: off
          check_name: "Test Results (MacOS)"
