name: Publish

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: publication

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
          check-latest: true

      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            publish
            closeAndReleaseRepository
            publishPlugins
            -Dorg.gradle.internal.http.socketTimeout=120000
            -Dorg.gradle.internal.network.retry.max.attempts=1
            -Dorg.gradle.internal.publish.checksums.insecure=true
            --no-daemon
            --no-parallel
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.OSSRH_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.OSSRH_PASSWORD }}
          PGP_KEY: ${{ secrets.PGP_KEY }}
          PGP_PASSWORD: ${{ secrets.PGP_PASSWORD }}
          GRADLE_PORTAL_PUBLISH_KEY: ${{ secrets.GRADLE_PORTAL_PUBLISH_KEY }}
          GRADLE_PORTAL_PUBLISH_SECRET: ${{ secrets.GRADLE_PORTAL_PUBLISH_SECRET }}
