name: release

on:
  push:
    tags:
      - v*
  workflow_dispatch: {} # support manual runs
permissions:
  contents: write
jobs:
  publish:
    runs-on: ubuntu-latest
    environment: publication
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
          check-latest: true
      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: |
            publishMainPublicationToSonatypeRepository
            closeAndReleaseSonatypeStagingRepository
            publishPlugins
            -Dorg.gradle.internal.http.socketTimeout=120000
            -Dorg.gradle.internal.network.retry.max.attempts=1
            -Dorg.gradle.internal.publish.checksums.insecure=true
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          PGP_KEY: ${{ secrets.PGP_KEY }}
          PGP_PASSWORD: ${{ secrets.PGP_PASSWORD }}
          GRADLE_PORTAL_PUBLISH_KEY: ${{ secrets.GRADLE_PORTAL_PUBLISH_KEY }}
          GRADLE_PORTAL_PUBLISH_SECRET: ${{ secrets.GRADLE_PORTAL_PUBLISH_SECRET }}
